body {
  margin: 0;
  background-color: rgb(18, 18, 18);
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: rgb(255, 255, 255);
}
html,
body {
  height: 100%;
	overflow: hidden;
}







.d6{
  grid-area: dice ;
  text-align: center;
  margin-top: 35px;
  font-size:30px;
  
}

.canvas3d{
  grid-area: roll;
 



}

.result_d6{
  grid-area: result ;
  text-align: center;
  margin-top: 35px;
  font-size:30px;

}

.grid_d6{
  margin: auto;
  width: 50%;

position: relative;
top:  50vh;
  
  
background: rgba(96, 96, 96, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.154);

 display: grid;
grid-template-columns: 33% 33% 33% ;
grid-template-rows: 100px;
 
 grid-template-areas:
'dice roll result';

}


